﻿@model PetaPoco.Page<MyConnection.Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
<div class="container body-content">
    <div class="category-hotproduct row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="@Html.DisplayFor(m=>item.sp_HinhAnh)" alt="...">
                    <div class="caption">
                        <h4>@Html.DisplayFor(m => item.sp_Ten)</h4>
                        <p>..</p>
                        <p><a href="/Cart/AddItem?productID=@Html.DisplayFor(model=>item.sp_ID)&Quantity=1" class="btn btn-danger" role="button">Add Cart</a> <button class="btn btn-info">@Html.ActionLink("Xem", "/Details/", new { id = item.sp_ID })</button></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*@for(int i = 1; i <= Model.TotalPages; i ++)
    {
        <a href="http://localhost:53159/Products/Index/?page=@i">@i</a>
    }*@

<nav>
    <ul class="pagination">
        @*<li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>*@
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="">
                <a href="/Products/Index/?page=@i"> @i <span class="sr-only">(current)</span></a>
            </li>
        }

        @*<li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>*@
    </ul>
</nav>

