﻿@model IEnumerable<MyConnection.OrderDess>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cthd_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cthd_IDUsers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cthd_ThoiGianMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cthd_SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cthd_IDPr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cthd_Tien)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cthd_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cthd_IDUsers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cthd_ThoiGianMua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cthd_SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cthd_IDPr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cthd_Tien)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.cthd_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.cthd_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.cthd_ID })
                </td>
            </tr>
        }

    </table>
</div>