﻿@model ShopLapAsus.Models.Members

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <h2>Details</h2>

    <div>
        <h4>Members</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tv_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tv_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tv_User)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tv_User)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tv_Pass)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tv_Pass)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tv_HoTen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tv_HoTen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tv_DiaChi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tv_DiaChi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tv_Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tv_Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tv_SoDienThoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tv_SoDienThoai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tv_IDTypeMember)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tv_IDTypeMember)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tv_Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tv_Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tv_Tuoi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tv_Tuoi)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.tv_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>