﻿@model IEnumerable<ShopLapAsus.Models.Members>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tv_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tv_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tv_Pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tv_HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tv_DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tv_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tv_SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tv_IDTypeMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tv_Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tv_Tuoi)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_Pass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_IDTypeMember)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_Tuoi)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.tv_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.tv_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.tv_ID })
                </td>
            </tr>
        }

    </table>
</div>