﻿@model MyConnection.Product
    @using BUS.BUS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>Details</h2>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.sp_Ten)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_Ten)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_HinhAnh)
                </dt>

                <dd>
                    <img src="@Html.DisplayFor(model=>model.sp_HinhAnh)" height="100" width="100" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_GiaBan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_GiaBan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_GiamGia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_GiamGia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_NgayNhap)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_NgayNhap)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_SoLuongTon)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_SoLuongTon)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_SoLuongBan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_SoLuongBan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_ManHinh)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_ManHinh)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_HDD)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_HDD)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_ODia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_ODia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_BoXuLy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_BoXuLy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_DoMong)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_DoMong)
                </dd>

                <dt>
                    <label>Số lần xem:</label>
                </dt>
                <dd>
                    <p>100 Lần</p>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sp_MoTa)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sp_MoTa)
                </dd>
            </dl>
            <p>
                <a href="/Cart/AddItem?productID=@Html.DisplayFor(model=>model.sp_ID)&Quantity=1" class="btn btn-danger">Add cart</a>
            </p>
            <p>
                @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
        <div class="col-md-4">
            <h3>Phần Bình luận</h3>
            <form>
                name:<br>
                <input type="text" value="Mickey">
                <br>

               @Html.TextArea("Message", new { rows = 10, cols = 200 })
                <br>
                <input type="submit" value="Bình luận">
                <br>
            </form>
        </div>
        <div class="col-md-4">
            <h3>Sản phẩm liên quan</h3>
            @foreach (var item in ProductBUS.dssp_ZenBook())
            {

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="@Html.DisplayFor(m=>item.sp_HinhAnh)" alt="...">
                        <div class="caption">
                            <h4>@Html.DisplayFor(m => item.sp_Ten)</h4>
                            <h4><b>@Html.DisplayFor(m => item.sp_GiamGia) VNĐ</b></h4>
                            <p>...</p>
                            <p> <a href="/Cart/AddItem?productID=@item.sp_ID&Quantity=1" class="btn btn-danger">Add cart</a> <button class="btn btn-info">@Html.ActionLink("Xem", "Details", new { id = item.sp_ID })</button> </p>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

