﻿@model IEnumerable<MyConnection.Product>
@using MyConnection
@using BUS.BUS
@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/slideHome/Home_Desktop_Asus1.jpg" alt="Asus1" class="img-responsive" />
            <div class="carousel-caption">
                <p>

                    @*<a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                    </a>*@
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/slideHome/Home_Desktop_Asus.png" alt="Asus2" class="img-responsive" />
            <div class="carousel-caption">
                <p>

                    @*<a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                    </a>*@
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/slideHome/Home_Desktop_Asus2.jpg" alt="Asus3" class="img-responsive" />
            <div class="carousel-caption">
                <p>

                    @*<a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                    </a>*@
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/slideHome/Home_Desktop_Asus3.png" alt="Asus4" class="img-responsive" />
            <div class="carousel-caption">
                <p>

                    @*<a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                    </a>*@
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container body-content">
    <div id="left-side-bar">
        <h3>Lọc theo</h3>
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-11">
                <button id="button" type="button" class="btn div_menu"  data-toggle="collapse" data-target="#demo">
                    <span class="glyphicon glyphicon-collapse-down"></span>Mục
                </button>
                <div id="demo" class="collapse">
                    <ol class="list-group">
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Category" value="5916">Zenbook Series</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Category" value="5993">Gaming Series</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Category" value="6070">N series</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Category" value="6147">K/A series</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Category" value="6224">X series</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Category" value="14001">P Series</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Category" value="14155">E Series</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Category" value="14309">V Series</label></li>
                    </ol>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-11">
                <button id="button" type="button" class="btn div_menu" data-toggle="collapse" data-target="#demo1">
                    <span class="glyphicon glyphicon-collapse-down"></span>Kích thước màn hình
                </button>
                <div id="demo1" class="collapse">
                    <ol class="list-group">
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group109" value="377">10" hoặc nhỏ hơn</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group109" value="378">11"~13"</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group109" value="379">14"~16"</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group109" value="380">17" trở lên</label></li>
                    </ol>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-11">
                <button id="button" type="button" class="btn div_menu" data-toggle="collapse" data-target="#demo2">
                    <span class="glyphicon glyphicon-collapse-down"></span>Bộ vi xử lý
                </button>
                <div id="demo2" class="collapse">
                    <ol class="list-group">
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group110" value="486">Pentium &amp; Celeron</label></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-11">
                <button id="button" type="button" class="btn div_menu" data-toggle="collapse" data-target="#demo3">
                    <span class="glyphicon glyphicon-collapse-down"></span>Độ mỏng
                </button>
                <div id="demo3" class="collapse">
                    <ol class="list-group">
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group114" value="415">Ultrabook</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group114" value="416">Laptop</label></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-11">
                <button id="button" type="button" class="btn div_menu" data-toggle="collapse" data-target="#demo4">
                    <span class="glyphicon glyphicon-collapse-down"></span>HDD
                </button>
                <div id="demo4" class="collapse">
                    <ol class="list-group">
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group112" value="408">320GB</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group112" value="409">500GB</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group112" value="410">750GB</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group112" value="411">1TB trở lên</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group112" value="412">SSD</label></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-11">
                <button id="button" type="button" class="btn div_menu" data-toggle="collapse" data-target="#demo5">
                    <span class="glyphicon glyphicon-collapse-down"></span>Ỗ đĩa quang
                </button>
                <div id="demo5" class="collapse">
                    <ol class="list-group">
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group113" value="413">CD/DVD+RW</label></li>
                        <li class="list-group-item"><label class="checkbox"><input type="checkbox" class="Group113" value="414">Blu-ray™</label></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="category-hotproduct row">
            <header>
                <h2>Zenbook Series</h2>
                <a href="/Products/Index" title="See All Zenbook Series" class="pull-right category-see-all">Xem tất cả</a>
            </header>
            <div class="col-md-3">

                <img src="~/Content/images/ZenBook Series/ZenBook.jpg" alt="...">
                <p>Thiết kế và kỹ thuật tiên tiến của ASUS đã tạo nên những tuyệt tác máy tính xách tay siêu mỏng siêu phong cách có độ dày dưới 1”, mang đến một sự cân bằng giữa các tính năng mạnh mẽ và cao cấp, vật liệu sang trọng, thiết kế nghệ thuật, và sự tự do không gì so sánh được khi di chuyển.</p>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="@Html.DisplayFor(m=>item.sp_HinhAnh)" alt="...">
                        <div class="caption">
                            <h4>@Html.DisplayFor(m => item.sp_Ten)</h4>
                            <h4>@Html.DisplayFor(m=> item.sp_BoXuLy)</h4>
                            <h4><b><strike>@Html.DisplayFor(m=>item.sp_GiaBan) VNĐ</strike></b></h4>
                            <h4><b>@Html.DisplayFor(m=>item.sp_GiamGia) VNĐ</b></h4>
                            <p>...</p>
                            <p> <a href="/Cart/AddItem?productID=@item.sp_ID&Quantity=1" class="btn btn-danger">Add cart</a> <button class="btn btn-info">@Html.ActionLink("Xem", "Details", new { id = item.sp_ID })</button> </p>
                        </div>
                    </div>

                </div>

            }      
        </div>
        <div class="category-hotproduct row">
            <header>
                <h3>Gaming Series</h3>
                <a href="/Products/Index" title="See All Zenbook Series" class="pull-right category-see-all">Xem tất cả</a>
            </header>
            <div class="col-md-3">

                <img src="~/Content/images/Gaming Series/Gaming.jpg" alt="...">
                <p>Sức mạnh vô tận cho những game thủ đích thực, nén hiệu năng của một máy tính để bàn vào một thiết kế máy tính xách tay hầm hố nhưng vẫn chú trọng đến tính công thái học, dành cho những game thủ cuồng nhiệt nhất.</p>
            </div>
            @foreach (var itemR in ProductBUS.dssp_ROG())
            {
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="@Html.DisplayFor(m=>itemR.sp_HinhAnh)" alt="...">
                    <div class="caption">
                        <h4>@Html.DisplayFor(m => itemR.sp_Ten)</h4>
                        <h4>@Html.DisplayFor(m => itemR.sp_BoXuLy)</h4>
                        <h4><b><strike>@Html.DisplayFor(m => itemR.sp_GiaBan) VNĐ</strike></b></h4>
                        <h4><b>@Html.DisplayFor(m => itemR.sp_GiamGia) VNĐ</b></h4>
                        <p>...</p>
                        <p> <a href="/Cart/AddItem?productID=@itemR.sp_ID&Quantity=1" class="btn btn-danger">Add cart</a> <button class="btn btn-info">@Html.ActionLink("Xem", "Details", new { id = itemR.sp_ID })</button></p>
                        
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="category-hotproduct row">
            <header>
                <h3>N series</h3>
                <a href="/Products/Index" title="See All Zenbook Series" class="pull-right category-see-all">Xem tất cả</a>
            </header>
            <div class="col-md-3">

                <img src="~/Content/images/N series/N.jpg" alt="...">
                <p>Hiệu năng thị giác và âm thanh siêu việt nhờ có các tấm nền chất lượng cao, âm thanh SonicMaster độc quyền, cùng với công nghệ bộ vi xử lý và đồ họa mới nhất.</p>
            </div>
            @foreach (var itemN in ProductBUS.dssp_N())
            {
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="@Html.DisplayFor(m=>itemN.sp_HinhAnh)" alt="...">
                    <div class="caption">
                        <h4>@Html.DisplayFor(m => itemN.sp_Ten)</h4>
                        <h4>@Html.DisplayFor(m => itemN.sp_BoXuLy)</h4>
                        <h4><b><strike>@Html.DisplayFor(m => itemN.sp_GiaBan) VNĐ</strike></b></h4>
                        <h4><b>@Html.DisplayFor(m => itemN.sp_GiamGia) VNĐ</b></h4>
                        <p>...</p>
                        <p><a href="/Cart/AddItem?productID=@itemN.sp_ID&Quantity=1" class="btn btn-danger">Add cart</a> <button class="btn btn-info">@Html.ActionLink("Xem", "Details", new { id = itemN.sp_ID })</button></p>                   
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="category-hotproduct row">
            <header>
                <h3>E Series</h3>
                <a href="/Products/Index" title="See All Zenbook Series" class="pull-right category-see-all">Xem tất cả</a>
            </header>
            <div class="col-md-3">

                <img src="~/Content/images/E Series/ASUS EeeBook X205TA.png" alt="...">
                <p>Thiết kế và kỹ thuật tiên tiến của ASUS đã tạo nên những tuyệt tác máy tính xách tay siêu mỏng siêu phong cách có độ dày dưới 1”, mang đến một sự cân bằng giữa các tính năng mạnh mẽ và cao cấp, vật liệu sang trọng, thiết kế nghệ thuật, và sự tự do không gì so sánh được khi di chuyển.</p>
            </div>
            @foreach (var itemE in ProductBUS.dssp_E())
            {
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="@Html.DisplayFor(m => itemE.sp_HinhAnh)" alt="...">
                    <div class="caption">
                        <h4>@Html.DisplayFor(m => itemE.sp_Ten)</h4>
                        <h4>@Html.DisplayFor(m => itemE.sp_BoXuLy)</h4>
                        <h4><b><strike>@Html.DisplayFor(m => itemE.sp_GiaBan) VNĐ</strike></b></h4>
                        <h4><b>@Html.DisplayFor(m => itemE.sp_GiamGia) VNĐ</b></h4>
                        <p>...</p>
                        <p> <a href="/Cart/AddItem?productID=@itemE.sp_ID&Quantity=1" class="btn btn-danger">Add cart</a> <button class="btn btn-info">@Html.ActionLink("Xem", "Details", new { id = itemE.sp_ID })</button></p>                       
                    </div>
                </div>
            </div>
            }
        </div>      
    </div>  
</div>
