﻿@model List<ShopLapAsus.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity

@*@if(Request.IsAuthenticated)
{*@ 
    @if(Model != null)
    { 
@section jsFooter{
<script src="/Assets/Admin/client/js/controller/cartController.js"></script>
    }
<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <td>Mã sản phẩm</td>
            <td>Tên sản phẩm</td>
            <td>Ảnh sản phẩm</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.sp_ID</td>
                <td>@item.Product.sp_Ten</td>
                <td><img src="@item.Product.sp_HinhAnh" width="100" /></td>
                <td><input type="text" class="txtQuantity" data-id="@item.Product.sp_ID" value="@item.Quantity" /></td>
                <td>@(item.Product.sp_GiaBan)</td>
                <td>@((item.Product.sp_GiaBan * item.Quantity).ToString("N0"))</td>
                @*<td><a href="#" data-id="@item.Product.ID" class="btn-delete">Xoá</a></td>*@
                <td><a href="#" data-id="@item.Product.sp_ID" class="btn-delete">Xoá</a></td>
            </tr>
        }

    </tbody>
</table>
        <button id="btnContinue" class="btn btn-primary">Tiếp tục mua hàng</button>
        <button id="btnUpdate" class="btn btn-default">Cập nhập giỏ hàng</button>
        <button id="btnDeleteAll" class="btn btn-danger">Xóa giỏ hàng</button>
        <button id="btnPayment" class="btn btn-success">Thanh toán</button>

    }
    else
    {
        <span class="alert alert-danger">Chưa có sản phẩm nào ở giở hàng</span>
    }
@*}*@
