﻿@model List<ShopLapAsus.Models.CartItem>
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment</h2>

@if (Model != null)
{ 
    <table class="table">
        <thead>
            <tr>
                <td>Mã sản phẩm</td>
                <td>Tên sản phẩm</td>
                <td>Ảnh sản phẩm</td>
                <td>Số lượng</td>
                <td>Đơn giá</td>
                <td>Thành tiền</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.sp_ID</td>
                    <td>@item.Product.sp_Ten</td>
                    <td><img src="@item.Product.sp_HinhAnh" width="100" /></td>
                    <td><input type="text" class="txtQuantity" data-id="@item.Product.sp_ID" value="@item.Quantity" /></td>
                    <td>@(item.Product.sp_GiaBan)</td>
                    <td>@((item.Product.sp_GiaBan * item.Quantity).ToString("N0"))</td>
                    @*<td><a href="#" data-id="@item.Product.ID" class="btn-delete">Xoá</a></td>*@
                    @*<td><a href="#" data-id="@item.Product.sp_ID" class="btn-delete">Xoá</a></td>*@
                </tr>
            }

        </tbody>
    </table>
}
<div class="section group">
<div class="col-md-6">
    @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
            {
        <div class="form-group">
            <label>Người nhận</label>
            <input name="shipName" class="form-control" />
        </div>
            <div class="form-group">
                <label>Điện thoại</label>
                <input name="mobile" class="form-control" />
            </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input name="address" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" class="form-control" />
                </div>
                <button type="submit" class="btn">Gửi đơn hàng</button>
    }
</div>

</div>