﻿@model PetaPoco.Page<MyConnection.Product>

@{
    ViewBag.Title = "X Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zenbook</h2>

<div class="container body-content">
    <div class="category-hotproduct row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="@Html.DisplayFor(m=>item.sp_HinhAnh)" alt="...">
                    <div class="caption">
                        <h4>@Html.DisplayFor(m => item.sp_Ten)</h4>
                        <p>..</p>
                        <p><a href="/Cart/AddItem?productID=@item.sp_ID&Quantity=1" class="btn btn-danger">Add cart</a> <button class="btn btn-info">@Html.ActionLink("Xem", "Details", new { id = item.sp_ID })</button></p>                 
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<nav>
    <ul class="pagination">
        @*<li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>*@
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="">
                <a href="/Products/X_Series/?page=@i"> @i <span class="sr-only">(current)</span></a>
            </li>
        }

        @*<li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>*@
    </ul>
</nav>

