﻿@model MyConnection.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.sp_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_Ten)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_Ten)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_IDLoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_IDLoai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_IDTinhTrang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_IDTinhTrang)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_GiaBan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_GiaBan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_GiamGia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_GiamGia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_MoTa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_MoTa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_NgayNhap)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_NgayNhap)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_SoLuongTon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_SoLuongTon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_SoLuongBan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_SoLuongBan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_HinhAnh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_HinhAnh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_ManHinh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_ManHinh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_HDD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_HDD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_ODia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_ODia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_BoXuLy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_BoXuLy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sp_DoMong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sp_DoMong)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>