﻿@model IEnumerable<MyConnection.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sp_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_IDLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_IDTinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_GiamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_NgayNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_SoLuongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_ManHinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_HDD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_ODia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_BoXuLy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sp_DoMong)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_IDLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_IDTinhTrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_GiaBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_GiamGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_MoTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_NgayNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_SoLuongTon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_SoLuongBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_HinhAnh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_ManHinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_HDD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_ODia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_BoXuLy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sp_DoMong)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.sp_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.sp_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.sp_ID })
                </td>
            </tr>
        }

    </table>
</div>