﻿@using MyConnection
@using BUS.BUS

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Asus Company ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                <div class="dropdown">
                    <button class="dropbtn">Danh mục</button>
                    <div class="dropdown-content">
                        <b><a href="/Products/Zenbook">Zen Book</a></b>
                        <b><a href="/Products/Gaming">Gaming</a></b>
                        <b><a href="/Products/N_Series">N Series</a></b>
                        <b><a href="/Products/KA_Serries">KA Series</a></b>
                        <b><a href="/Products/P_Series">P Series</a></b>
                        <b><a href="/Products/E_Series">E Series</a></b>
                        <b><a href="/Products/V_Series">V Series</a></b>
                        <b><a href="/Products/X_Series">X Series</a></b>

                    </div>
                </div>
                    @{ Html.RenderAction("HeaderCart", "Home");}
                    @Html.Partial("_LoginPartial")
                    @Html.Partial("_TimKiemPartial")
</div>
        </div>
    </div>
    <div class="content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("jsFooter", required: false)
</body>
</html>
