﻿@using Microsoft.AspNet.Identity


<ul class="nav navbar-nav navbar-right">
    <li>
        <form class="navbar-form navbar-right" action="/Search/Search" method="get">
            <input type="text" id="txtKeyword" name="keyword" placeholder="Search..." value="" class="form-control">
        </form>
    </li>
</ul>
