﻿@model List<ShopLapAsus.Models.CartItem>


<ul class="nav navbar-nav navbar-right">
    <li>
        <span class="btn-danger"><a href="/Cart/Index">Cart:</a></span>
        <div id="dd" class="btn-danger">@Model.Count item</div>
    </li>
</ul>
