﻿@model IEnumerable<MyConnection.Orderss>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hd_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hd_IDDess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hd_IDTinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hd_TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hd_NgayThanhToan)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hd_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hd_IDDess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hd_IDTinhTrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hd_TongTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hd_NgayThanhToan)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.hd_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.hd_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.hd_ID })
                </td>
            </tr>
        }

    </table>
</div>